.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgba(246, 246, 246, 1);
}

.grid-container {
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto;
  height: 100vh;
  text-align: right;
}

.first {
  width: 20vw;
  margin: 24px;
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; */
}
.second {
  width: 50vw;
}

.second #header-img {
  width: 50vw;
}

.third {
  width: 20vw;
  background-color: #ffff;
}

button,
.sharjeBaghiMandeSimKart,
.jadval,
.nemodareMizanMasraf,
.profile {
  border-radius: 16px;
}
.first .sharjeBaghiMandeSimKart {
  background-color: rgba(255, 252, 239);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  direction: rtl;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  border: 1px solid;
  border-color: #ebebeb;
  color: gray;
}

tr:first-child {
  font-weight: 700;
}
th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
}

td {
  font-weight: 500;
}

button {
  border: none;
  width: 100px;
  background-color: #fdc816;
  color: #ffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.second {
}

.jadval,
.nemodareMizanMasraf {
  margin-top: 24px;
  background-color: #ffff;
  padding: 16px;
}
#diagram-img {
  width: 90%;
}

.profile {
  height: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  padding: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.profile p {
  font-size: 14px;
  font-weight: 600;
}

a {
  text-decoration: none;
}
/* unvisited link */
a:link,
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(105, 145, 255);
}

/* selected link */
a:active {
  color: blue;
}

#imgProfile {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 16px;
  background-color: #fdc816;
  padding: 6px;
}

.infoProfile {
  display: flex;
  flex-direction: column;
}
.bastehayeFaalSection {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;

  line-height: 0;
  margin-bottom: 32px;
}

.panelItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.search {
  border: 1px solid rgba(231, 231, 231, 1);
  width: 70%;
  padding: 8px;
  display: inline-flex;
  border-radius: 8px;
  margin-bottom: 32px;
}

input {
  text-align: right;
  border: none;
  outline: none;
  color: gray;
  width: 70%;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 32px;
}

.search button {
  background-color: unset;
  width: 30px;
}

.panelItem {
  margin-bottom: 10px;
  font-weight: 300;
  color: #818181;
}

.mainPageItem {
  color: #f0d683;
  font-weight: bold;
}

.panelHeadItem {
  color: #e7e7e7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.irancellManImage {
  margin: 24px 0;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #e7e7e7;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e7e7e7;
}

::placeholder {
  color: #e7e7e7;
}

.bastehayeFaalInnerSection {
  display: flex;
  flex-direction: column;
}

.downloadIrancellImage {
  position: absolute;
  bottom: -100px;
  width: 200px;
}
